html{
    background-color: black;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.container{
    width: 1612px;
    margin: 0 auto;
}

body{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.menu{
    margin: 0;
    padding: 10px;
    background-color: rgba(167, 80, 0, 0.9);
    width: 1612px;
    position: sticky;
    top: 0;
}

.menu:hover li a{
    color: gray;
    text-shadow: 0 0 10px black;
}

.menu ul{
    
    float: left;
}

.menu li{
    float: right;
    margin-right: 20px;
    list-style-type: none;
    font-size: xx-large;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 7px white;
}

.menu li a{
    transition: all 0.5s ease-in-out;
}

.menu li a:hover{
    text-shadow: none;
    padding-right: 30px;
    color: white;
}

.menu img{
    width: 100px;
    border-radius: 15px;
    transition: border-radius 1s ;
}

.menu img:hover{
    border-radius: 3px;
    transition: border-radius 1s ;
}

h1{
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    animation: fijnecolorchange 3s linear infinite normal;
}

p{
    animation: textskew 2s linear infinite normal;
}

.card{
    width: 300px;
    float: left;
    margin: 10px;
    border: 1px solid white;
}

.card h3, h6{
    text-align: center;
    margin: 5px;
    padding: 5px
}

.card img{
    margin: 10px auto 50px auto;
    display: block;
    border-radius: 220px;
    width: 220px;
    height: 220px;
}

.fijnecar{
    margin: 30px 0px;
    width: 250px;
    clear: both;
    display: flex;
}

.fijnecar.lmh{
    animation: race 3s linear infinite normal;
}

.fijnecar.lmp2{
    animation: race 3.5s linear infinite normal;
}

.fijnecar.lmp2abascal{
    animation: raceabascal 7s linear infinite normal;
}

.fijnecar.gt3{
    animation: race 4.5s linear infinite normal;
}

#keptrans1:hover{
    animation: keptrans1 2s linear infinite normal;
}

#keptrans2:hover{
    animation: keptrans2 2s linear infinite alternate;
}

#keptrans3:hover{
    animation: keptrans3 2s linear infinite alternate;
}

#keptrans4:hover{
    animation: keptrans4 2s linear infinite alternate;
}

#keptrans5:hover{
    animation: keptrans5 2s linear infinite alternate;
}

#keptrans6:hover{
    animation: keptrans6 2s linear infinite alternate;
}

#keptrans7:hover{
    animation: keptrans7 2s linear infinite alternate;
}

#keptrans8:hover{
    animation: keptrans8 2s linear infinite alternate;
}

#keptrans9:hover{
    animation: keptrans9 2s linear infinite alternate;
}

#keptrans10:hover{
    animation: keptrans10 2s linear infinite normal;
}

@keyframes fijnecolorchange{
    0% {color: white;}
    50% {color: rgb(255, 123, 0);}
}

@keyframes keptrans1{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

@keyframes keptrans2{
    0% {transform: scaleX(1);}
    50% {transform: scaleX(-1);}
    100% {transform: scaleX(1);}
}

@keyframes keptrans3{
    0% {transform: scaleY(1);}
    50% {transform: scaleY(-1);}
    100% {transform: scaleY(1);}
}

@keyframes keptrans4{
    0% {transform: rotateX(0deg);}
    50% {transform: rotateX(3512deg);}
    100% {transform: rotateX(0deg);}
}

@keyframes keptrans5{
    0% {transform: skew(0deg);}
    50% {transform: skew(360deg);}
    100% {transform: skew(0deg);}
}

@keyframes keptrans6{
    0% {transform: translate(0);}
    20% {transform: translate(42px, 21px);}
    40% {transform: translate(-42px, 21px);}
    60% {transform: translate(-42px, -21px);}
    80% {transform: translate(42px, -21px);}
    100% {transform: translate(0);}
}

@keyframes keptrans7{
    0% {transform: matrix(0);}
    20% {transform: matrix(1.2, 0.2, -1, 0.9, 0, 20);}
    40% {transform: matrix(0.4, 0, 0.5, 1.2, 60, 10);}
    60% {transform: matrix(0, 1, 1, 0, 0, 0);}
    80% {transform: matrix(0.1, 1, -0.3, 1, 0, 0);}
    100% {transform: matrix(0);}
}

@keyframes keptrans8{
    0% {transform: skewY(0deg);}
    50% {transform: skewY(180deg);}
    100% {transform: skewY(0deg);}
}

@keyframes keptrans9{
    0% {transform: rotateY(0deg);}
    50% {transform: rotateY(1000deg);}
    100% {transform: rotateY(0deg);}
}

@keyframes keptrans10{
    0% {transform: rotateZ(0deg);}
    50% {transform: rotateZ(2500deg);}
    100% {transform: rotateZ(0deg);}
}

@keyframes race{
    0%{transform: translateX(0px);}
    45%{transform: translateX(1275px) scaleX(1);}
    50%{transform: translateX(1500px) scaleX(-1);}
    95%{transform: translateX(225px) scaleX(-1);}
    100%{transform: translateX(0px) scaleX(1);}
}

@keyframes raceabascal{
    0%{transform: translateX(0px);}
    10%{transform: translateX(300px) scaleX(1);}
    20%{transform: translateX(600px) scaleX(-1);}
    30%{transform: translateX(900px) scaleX(1);}
    40%{transform: translateX(1200px) scaleX(-1);}
    50%{transform: translateX(1500px) scaleX(1);}
    60%{transform: translateX(1200px) scaleX(-1);}
    70%{transform: translateX(900px) scaleX(1);}
    80%{transform: translateX(600px) scaleX(-1);}
    90%{transform: translateX(300px) scaleX(1);}
    100%{transform: translateX(0px) scaleX(-1);}
}

@keyframes radiusdisappear{
    0%{border-radius: 15px;}
    100%{border-radius: 3px;}
}

@keyframes radiusappear{
    0%{border-radius: 15px;}
    100%{border-radius: 3px;}
}

@keyframes textskew{
    0% {transform: skew(-15deg);}
    50% {transform: skew(15deg);}
}